<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <%- include('navigation'); %>
      <div class="main">
        <h1><%= title %></h1>
        <p><%= description %></p>
        <% if(showAutorization) { %>
          <%- include('autorization'); %>
        <% } %>
        <% if(webSocket) { %>
          <%- include('webSocket'); %>
        <% } %>
      </div>
    </div>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
